
.deck
{
    width:50%;
    margin: 20px auto;
    background:rgb(44, 44, 44);
    border:solid 10px black;
    padding: 10px;
    border-radius:10px;
    text-align: center;
    color:white;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: "Copperplate",fantasy;
}

@font-face {
  font-family: "myfont";
  src: url("wg_statik.woff") format('woff');
}

.card
{
    padding: 10px;
    border: solid 1px #808080;
    background-color: black;
    display: inline-block;
    border-radius: 10px;
    font-size: 14pt;
    text-align: center;
    color:rgb(168, 220, 255);
    margin: 3px;
}

.btn
{
    background: rgb(168, 220, 255);
    color: rgb(27, 120, 182);
    padding: 10px 20px;
    border-radius:30px;
    margin: 10px;
    display:inline-block;
}

.choices
{
    background: black;
    color: rgb(168, 220, 255);
    padding: 10px 20px;
    border-radius:30px;
    margin: 10px;
    display:inline-block;
    text-decoration: none;
}

.info
{
    background: black;
    color: rgb(27, 120, 182);
    padding: 10px 12px;
    border-radius:30px;
    margin: 2px;
    display:inline-block;
    font-size: smaller;
    text-decoration: none;
}

#coffe
{
    background: rgb(146, 85, 16);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius:30px;
    margin: 10px;
    display:inline-block;
}

#lab
{
    background: rgb(17, 112, 37);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius:30px;
    margin: 10px;
    display:inline-block;
}

#reputation
{
    background: rgb(231, 30, 187);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius:30px;
    margin: 10px;
    display:inline-block;
}

#energy
{
    background: rgb(25, 93, 196);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius:30px;
    margin: 10px;
    display:inline-block;
}

.card .value{
    font-size:14pt;
    /* font-family: sans-serif; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.card .suit
{
    background-image: url('card.png');
    height: 200px;
    width: 180px;
}

.card .diamonds
{
    background-position-y: 100px;
}

.card .hearts
{
    background-position-x: 90px;
}

.card .clubs
{
    background-position-x:90px;
    background-position-y:100px;
}

#fuse
{
  text-align: center;
  font-size: 126px;
  color:white;
  font-family: myfont;
}

#subtitle
{
  color: white;
  text-align: center;
  font-size: medium;
  font-family: "Copperplate",fantasy;
}

html
{
  background-image: url('wallpaper.jpeg');
  height: auto;
  width: auto;
}